# --- Frontend Config ---
VITE_API_URL=http://localhost:8000
VITE_KEYCLOAK_URL=http://localhost:8080/auth
VITE_MQTT_BROKER_URL=ws://localhost:8000
VITE_THINGSPEAK_CHANNEL_ID=your_channel_id_here
VITE_THINGSPEAK_READ_API_KEY=your_read_api_key_here

# --- Database Config ---
# For App Data
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fireguard_db

# For Keycloak
KC_POSTGRES_USER=keycloak_user
KC_POSTGRES_PASSWORD=keycloak_password
KC_POSTGRES_DB=keycloak_db

# --- Keycloak Config ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HOSTNAME_URL=http://localhost:8080/auth/

# --- Backend / IS Services ---
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
REDIS_URL=redis://redis:6379/0
MQTT_BROKER_URL=mqtt://hivemq:1883
qHIVEMQ_HOST=hivemq
HIVEMQ_PORT=1883
HIVEMQ_USERNAME=
HIVEMQ_PASSWORD=
HIVEMQ_USE_TLS=false
HIVEMQ_CA_CERT=
HIVEMQ_CLIENT_CERT=
HIVEMQ_CLIENT_KEY=
HIVEMQ_TLS_INSECURE=false
THINGSPEAK_WRITE_API_KEY=your_write_api_key_here
